<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>角色管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 角色管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray">
		<span class="l">
		<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
		<a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('添加角色','__MODULE__/Role/add','800')"><i class="Hui-iconfont">&#xe600;</i> 添加角色</a>
		<!--<a class="btn btn-primary radius" href="javascript:;" onclick="admin_role_add('分配权限','__MODULE__/Role/setauth','800')"><i class="Hui-iconfont">&#xe600;</i> 分配权限</a> -->
	</span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="8">角色管理</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" value="" name=""></th>
				<th width="40">ID</th>
				<th width="">角色名</th>
				<th>用户列表</th>
				<th width="">描述</th>
				<th width="">权限ids</th>
				<th width="">权限名</th>
				<th width="70">操作</th>
			</tr>
		</thead>
		<tbody>
		<volist name="data" id="vol">
			<tr class="text-c">
				<td><input type="checkbox" value="" name=""></td>
				<td>{$vol.role_id}</td>
				<td>{$vol.role_name}</td>
				<td>
					<volist name="vol.user_name" id="v">
					<a href="#">{$v.username}</a>
					</volist>
				</td>
				<td>{$vol.introduce}</td>
				<td>{$vol.role_auth_ids}</td>
				<td>{$vol.role_auth_ac}</td>
				<td class="f-14">
					<a title="分配权限" href="javascript:;" onclick="admin_role_setauth('给【{$vol.role_name}】分配权限','__CONTROLLER__/setauth/role_id/{$vol.role_id}','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe62e;</i></a>
					<a title="编辑" href="javascript:;" onclick="admin_role_edit('角色编辑','__CONTROLLER__/edit/role_id/{$vol.role_id}','1')" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="删除" href="javascript:;" onclick="admin_role_del(this,'{$vol.role_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
		</volist>

		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

<script type="text/javascript">
	$(function () {
		$('table').dataTable({
			"aaSorting": [[ 1, "desc" ]],
			"aoColumnDefs": [ { "bSortable": false, "aTargets": [ 0 ] }]
		});
	})

/*管理员-角色-添加*/
function admin_role_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-角色-编辑*/
function admin_role_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
//权限分配
function admin_role_setauth(title,url,id,w,h) {
	layer_show(title,url,w,h);
}
/*管理员-角色-删除*/
function admin_role_del(obj,id){
	layer.confirm('角色删除须谨慎，确认要删除吗？',function(index){
		$.ajax({
			type: 'get',
			url: '__CONTROLLER__/del/role_id/'+id,
			dataType: 'json',
			success: function(data){
				if(data.code == 10000){
					$(obj).parents("tr").remove();
					layer.msg('已删除!',{icon:1,time:1000});
				}else {
					layer.msg(data.msg,{icon:2,time:1000});
				}
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script>
</body>
</html>